<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/home.css">
<body>


	
<nav class="navbar navbar-expand-lg navbar-light bg-light" sryle="width: 1">
  <img src="/images/virus.png" style="width: 40px; height: 40px; margin-right: 10px; margin-left: 40px;">
  <a class="navbar-brand" href="#">Covid Info</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stats
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/world">World Stats</a>
          <a class="dropdown-item" href="/india">India Stats</a>
	  </li>
	  
	  <li class="nav-item">
        <a class="nav-link" href="/news">News</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style=" margin-right: 70px;">
    	<li> <a class="nav-link" href="/">Login</a> </li>
    	<li> <a class="nav-link" href="/">Sign Up</a> </li>
	  </ul>
    
  </div>
</nav>
